<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Permalist</title>
</head>

<body>
  <main>
 
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <% for(let item of listItems){%>
      <div class="item">
        <form action="/delete" method="post">
          <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
        </form>

        <p id="title<%=item.id%>">
          <%= item.productURL %>
        </p>

        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.title %>" autocomplete="off"
            autofocus="true" hidden="true" />
          <button id="done<%=item.id%>" class="edit" type="submit" hidden><img class="icon"
              src="/assets/icons/check-solid.svg" alt="tick image"></button>
        </form>
      </div>
      <% } %>

        <form class="item" action="/add" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value=<%=listTitle %> >+</button>
        </form>
  </div>
  <%if (locals.user){ %>
    <h2>Welcome, <%= locals.user %></h2>
    <form action="/logout" method="get">
      <button type="logout">Logout</button>
      </form>
  <% } %>
  <form action="/search" method="post">
    <label>Product URL</label>
    <input type="text" required name="ProductURL" />
    <label>Expected Price</label>
    <input type="text" required name="expectedPrice" />
    <button type="search">Search</button>
  </form>
  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>
</main>
<footer>Copyright © <%= new Date().getFullYear() %>
</footer>
</body>
`
</html>